@use '../../index.scss' as index;

.DisplayLogin {
  display: flex;
  flex-direction: column;
  background-color: index.$primary;
  padding: 4rem;
  border-radius: 1rem;
  width: 50vw;
}

.DisplayLoginInputs {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;

  & > label:first-of-type {
    margin-bottom: 1rem;
  }
}
